*.iml
.gradle/
local.properties
/local.properties

# Android Studio project files
/.idea/
.DS_Store

# Gradle build output
/build/
/app/build/
/.cxx/
.externalNativeBuild/
/captures/

# Log / misc
*.log
